
body{

	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
	
}

.square {

	 width: 30%;
	 background: purple;
	 padding-bottom: 30%;
	 float: left;
	 margin: 1.66%;
	 border-radius: 15%;
	 transition: background 0.6s;
	 -webkit-transition: background 0.6s;
	 -moz-transition: background 0.6s;
}

#container{

	max-width: 500px;
	margin: 20px auto;

}

h1 {
  text-align: center;
  background-color: steelblue;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  margin: 0;
  padding: 20px 0;
  font-family: "Montserrat", "Avenir";

 
}

#colorDisplay{
 font-size: 200%;

}

#message {
	display: inline-block;
	width: 20%;
}


#stripe {

	background: white;
	text-align: center;
	height: 30px;
	color:black;

}


.selected{
    color:white;
	background: steelblue;
}

button {
    margin: 0 auto;
	border: none;
	background: none;
	height: 100%;
	text-transform: uppercase;
	font-weight: 700;
	color: steelblue;
	font-size: inherit;
	letter-spacing: 1px;
    transition:  all 0.3s;
    -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
    outline:none;
}

button:hover{
	color:white;
	background:steelblue;
}
